@{
    ViewData["Title"] = "Contato";
}

<script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
<div class="elfsight-app-ac880d79-df3a-4ff6-a160-1cba9eec5a29"></div>

<div width="600px" height="200px">
    <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
    <div class="elfsight-app-b77c647e-6503-4fd3-bf1e-1534ec6e486a"></div>
</div>