@model DmResinas.Models.Produto
@{
    ViewData["Title"] = "Home";
}

<div class="album py-5">
    <div class="text-center mb-3">
        <h1>@Model.Nome</h1>

    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <p>@Model.Descricao</p>
                <p>Preço: @Model.Preco</p>
                @foreach(ProdutoCategoria ProdutoCategorias in Model.Categorias)
                {
                    <span class="badge bg-secondary me-2">@ProdutoCategorias.Categoria.Nome</span>
                }
            </div>
        </div>
    </div>
</div>