@{
    ViewData["Title"] = "Dicas";
}

<body class="bodyDicas">
    <header class="introductionDicas">
        <h2 class="">Dicas</h2>
        <div class="containerDestaqueDicas">
            <img src="https://cdn.discordapp.com/attachments/826872414147313764/1176633151729176687/flor2.jpg?ex=656f9404&is=655d1f04&hm=6ae06964dd91bc0d13c895105a22a66945587529da31213fc504c53099b85f8e&" />
            <p>Peças de resina são lindas e DURADOURAS, porém, DELICADAS.<br>Portanto, separamos 3 dicas simples que farão toda a diferença na hora de cuidá-las</p>
            <img src="https://cdn.discordapp.com/attachments/826872414147313764/1176633151498498068/flor1.jpg?ex=656f9404&is=655d1f04&hm=71838ea5de66f8bac7abcbdaadb0d8e3d6f189b37b2f9f224170e267b2f9cd28&" />
        </div>
    </header>
    <main class="mainDicas">
        <div class="divisaoDicas cima"></div>
        <article class="dicasDicas">
            <section class="tituloDicas">
                <h1>1</h1>
                <p id="textoTituloDicas">Cuidado com o sol</p>
            </section>
            <p class="descricaoDicas">Se possível, evite deixar as suas peças de resina expostas diretamente ao<br>sol, para que elas não fiquem desbotadas ou amareladas.</p>
        </article>
        <article class="dicasDicas">
            <section class="tituloDicas">
                <h1>2</h1>
                <p id="textoTituloDicas">O jeito certo de limpar</p>
            </section>
            <p class="descricaoDicas">Para limpá-las, basta usar um pano macio e seco, evitando produtos químicos fortes e abrasivos. Se quiser dar uma limpeza mais profunda, pode usar um pouco de água com sabão neutro, mas lembre-se de secar bem depois.</p>
        </article>
        <article class="dicasDicas">
            <section class="tituloDicas">
                <h1 id="tresDicas">3</h1>
                <p id="textoTituloDicas">Não corra o risco </p>
            </section>
            <p class="descricaoDicas">Evite colocar objetos muito pesados ou pontiagudos sobre a peça,<br>para que ela não risque ou quebre.</p>
        </article>
        <div class="divisaoDicas baixo"></div>
        <div class="containerDestaqueDicas">
            <img src="https://cdn.discordapp.com/attachments/826872414147313764/1176633151498498068/flor1.jpg?ex=656f9404&is=655d1f04&hm=71838ea5de66f8bac7abcbdaadb0d8e3d6f189b37b2f9f224170e267b2f9cd28&" />
            <p>Lembre-se de que cuidar das suas peças de resina é uma forma de mantê-las bonitas e duráveis. Com um pouco de carinho e atenção, elas vão continuar encantando por muito tempo!</p>
        <img src="https://cdn.discordapp.com/attachments/826872414147313764/1176633151729176687/flor2.jpg?ex=656f9404&is=655d1f04&hm=6ae06964dd91bc0d13c895105a22a66945587529da31213fc504c53099b85f8e&" />
        </div>
    </main>
    <aside class="duvidasContainerDicas">
        <div class="duvidasDicas">
            <h2>Duvidas comuns</h2>
            <div class="accordion">
                <div class="accordion-item">
                <button id="accordion-button-1" aria-expanded="false"><span class="accordion-title">Why is the moon sometimes out during the day?</span><span class="icon" aria-hidden="true"></span></button>
                <div class="accordion-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse potenti.</p>
                </div>
                </div>
                <div class="accordion-item">
                <button id="accordion-button-2" aria-expanded="false"><span class="accordion-title">Why is the sky blue?</span><span class="icon" aria-hidden="true"></span></button>
                <div class="accordion-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse potenti.</p>
                </div>
                </div>
                <div class="accordion-item">
                <button id="accordion-button-3" aria-expanded="false"><span class="accordion-title">Will we ever discover aliens?</span><span class="icon" aria-hidden="true"></span></button>
                <div class="accordion-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse potenti.</p>
                </div>
                </div>
                <div class="accordion-item">
                <button id="accordion-button-4" aria-expanded="false"><span class="accordion-title">How much does the Earth weigh?</span><span class="icon" aria-hidden="true"></span></button>
                <div class="accordion-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse potenti.</p>
                </div>
                </div>
                <div class="accordion-item">
                <button id="accordion-button-5" aria-expanded="false"><span class="accordion-title">How do airplanes stay up?</span><span class="icon" aria-hidden="true"></span></button>
                <div class="accordion-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse potenti.</p>
                </div>
                </div>
            </div>
        </div>
    </aside>
</body>
