@{
    ViewData["Title"] = "Início";
    <img src="https://img.elo7.com.br/product/original/1BBB9C6/painel-festa-1-50x1m-shrek-temas-infantil.jpg" width="100px" height="50px" >
}

<div class="text-center">
    <h1 class="display-4">Início</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
