@{
  ViewData["Title"] = "Home";
}

<div class="hero-image">
  <p class="dbanner">D</p>
  <p class="mbanner">M</p>
</div>

<div style="margin-left: 120px;">
  <h1
    style="font-family: Roboto; font-style: italic; padding-top: 50px; letter-spacing: -2px; color: black; font-size: 30px; margin-bottom: 0px">
    NOSSOS</h1>
  <h1
    style="font-family: Italiana; letter-spacing: -4px; color: black; font-size: 47px; padding-left: 20px; margin-top: -13px">
    DESTAQUES</h1>
</div>

<ul class="list">
  <li class="hide">
    <div class="conteudoItem"
      style="background-size: cover; background-position: center; background-image: url(images/destaques/destaque2.jpeg);">
      <div class="preenchimento"></div>
    </div>
    <h3>Lorem ipsum dolor sit amet</h3>
  </li>
  <li class="prev3">
    <div class="conteudoItem"
      style="background-size: cover; background-position: center; background-image: url(images/destaques/destaque3.jpeg);">
      <div class="preenchimento"></div>
    </div>
    <h3>Lorem ipsum dolor sit amet</h3>
  </li>
  <li class="prev2">
    <div class="conteudoItem"
      style="background-size: cover; background-position: center; background-image: url(images/destaques/destaque4.jpeg);">
      <div class="preenchimento"></div>
    </div>
    <h3>Lorem ipsum dolor sit amet</h3>
  </li>
  <li class="prev1">
    <div class="conteudoItem"
      style="background-size: cover; background-position: center; background-image: url(images/destaques/destaque5.jpeg);">
      <div class="preenchimento"></div>
    </div>
    <h3>Lorem ipsum dolor sit amet</h3>
  </li>
  <li class="prev">
    <div class="conteudoItem"
      style="background-size: cover; background-position: center; background-image: url(images/destaques/destaque6.jpeg);">
      <div class="preenchimento"></div>
    </div>
    <h3>Lorem ipsum dolor sit amet</h3>
  </li>
  <li class="act">
    <div class="conteudoItem"
      style="background-size: cover; background-position: center; background-image: url(images/destaques/destaque1.jpeg);">
      <div class="preenchimento"></div>
    </div>
    <h3>Lorem ipsum dolor sit amet</h3>
  </li>
  <li class="next">
    <div class="conteudoItem"
      style="background-size: cover; background-position: center; background-image: url(images/destaques/destaque7.jpeg);">
      <div class="preenchimento"></div>
    </div>
    <h3>Lorem ipsum dolor sit amet</h3>
  </li>
  <li class="next1">
    <div class="conteudoItem"
      style="background-size: cover; background-position: center; background-image: url(images/destaques/destaque8.jpeg);">
      <div class="preenchimento"></div>
    </div>
    <h3>Lorem ipsum dolor sit amet</h3>
  </li>
  <li class="next2">
    <div class="conteudoItem"
      style="background-size: cover; background-position: center; background-image: url(images/destaques/destaque9.jpeg);">
      <div class="preenchimento"></div>
    </div>
    <h3>Lorem ipsum dolor sit amet</h3>
  </li>
  <li class="next3">
    <div class="conteudoItem"
      style="background-size: cover; background-position: center; background-image: url(images/destaques/destaque10.jpeg);">
      <div class="preenchimento"></div>
    </div>
    <h3>Lorem ipsum dolor sit amet</h3>
  </li>
  <li class="next new-next">
    <div class="conteudoItem"
      style="background-size: cover; background-position: center; background-image: url(images/destaques/destaque11.jpeg);">
      <div class="preenchimento"></div>
    </div>
    <h3>Lorem ipsum dolor sit amet</h3>
  </li>
</ul>
<div class="swipe"></div>
<script src="https://hammerjs.github.io/dist/hammer.js"></script>
<div class="containerArvore">
  <img src="images/arvore.png" width="80px" height="160px">
  <p>No interior da resina transparente, flores delicadas e vibrantes são cuidadosamente dispostas,
    criando um efeito visual deslumbrante. O contraste entre a suavidade das flores e a robustez da
    resina cria uma combinação única que é ao mesmo tempo elegante e rústica.</p>
</div>

<aside class="containerDoSeuJeito">
  <div class="imgdoseujeito"></div>
  <div class="fraseDestaque">
    <p>DO<br><span class="rosa">SEU</span><br>JEITO</p>
  </div>
</aside>

<div class="containerWhats">
  <div class="zapzap">

    <div style="text-align: center; padding-top: 80px">
      <img src="img/logo.png" width="200px" height="200px">
      <br><br>
      <p>DM Arte em Resina</p>
      <br>
      <a class="botaodozap" href="https://contate.me/dmresinas">Iniciar Conversa</a>
    </div>
  </div>
  <div class="passos">
    <h1 style="font-weight: bold">Como funciona o atendimento pelo <span style="color: #1CC172">WhatsApp</span>?</h1>
    <p>1. Clique no botão do WhatsApp ou adicione o número no seu celular.</p>
    <p>2. Envie uma mensagem com o pedido desejado, informando detalhes como tamanho, cor e quantidade do produto,
      endereço de entrega e forma de pagamento.</p>
    <p>3. Aguarde a resposta da empresa com as informações necessárias para a conclusão do pedido, como valor total,
      prazo de entrega e formas de pagamento disponíveis.</p>
    <p>4. Confirme as informações do pedido e a forma de pagamento escolhida.</p>
    <p>5. Aguarde a entrega do pedido no endereço informado! :)</p>
  </div>
</div>

@section Scripts {
      <script src="~/js/site.js" asp-append-version="true"></script>
}