@{
  ViewData["Title"] = "Home";
}

<div class="hero-image">
  <p class="dbanner">D</p>
  <p class="mbanner">M</p>
</div>

<div style="margin-left: 120px;">
  <h1
    style="font-family: Roboto light; font-style: italic; padding-top: 50px; letter-spacing: -2px; color: black; font-size: 30px; margin-bottom: 0px">
    NOSSOS</h1>
  <h1
    style="font-family: Italiana; letter-spacing: -4px; color: black; font-size: 47px; padding-left: 20px; margin-top: -13px">
    DESTAQUES</h1>
</div>

<ul class="list">
  <li class="hide">
    <div class="conteudoItem"
      style="background-size: cover; background-position: center; background-image: url(images/destaques/destaque2.jpeg);">
      <div class="preenchimento"></div>
    </div>
    <h3>Mini Pingente para Pets</h3>
  </li>
  <li class="prev3">
    <div class="conteudoItem"
      style="background-size: cover; background-position: center; background-image: url(images/destaques/destaque3.jpeg);">
      <div class="preenchimento"></div>
    </div>
    <h3>Segurador de Páginas</h3>
  </li>
  <li class="prev2">
    <div class="conteudoItem"
      style="background-size: cover; background-position: center; background-image: url(images/destaques/destaque4.jpeg);">
      <div class="preenchimento"></div>
    </div>
    <h3>Chaveiro de Coração</h3>
  </li>
  <li class="prev1">
    <div class="conteudoItem"
      style="background-size: cover; background-position: center; background-image: url(images/destaques/destaque5.jpeg);">
      <div class="preenchimento"></div>
    </div>
    <h3>Chaveiro com inicial e nome</h3>
  </li>
  <li class="prev">
    <div class="conteudoItem"
      style="background-size: cover; background-position: center; background-image: url(images/destaques/destaque6.jpeg);">
      <div class="preenchimento"></div>
    </div>
    <h3>Chaveiro Letra T</h3>
  </li>
  <li class="act">
    <div class="conteudoItem"
      style="background-size: cover; background-position: center; background-image: url(images/destaques/destaque1.jpeg);">
      <div class="preenchimento"></div>
    </div>
    <h3>Porta Crachá</h3>
  </li>
  <li class="next">
    <div class="conteudoItem"
      style="background-size: cover; background-position: center; background-image: url(images/destaques/destaque7.jpeg);">
      <div class="preenchimento"></div>
    </div>
    <h3>Pingente para Pets</h3>
  </li>
  <li class="next1">
    <div class="conteudoItem"
      style="background-size: cover; background-position: center; background-image: url(images/destaques/destaque8.jpeg);">
      <div class="preenchimento"></div>
    </div>
    <h3>Chaveiro Harry Potter</h3>
  </li>
  <li class="next2">
    <div class="conteudoItem"
      style="background-size: cover; background-position: center; background-image: url(images/destaques/destaque9.jpeg);">
      <div class="preenchimento"></div>
    </div>
    <h3>Marca Páginas Infantis</h3>
  </li>
  <li class="next3">
    <div class="conteudoItem"
      style="background-size: cover; background-position: center; background-image: url(images/destaques/destaque11.jpeg);">
      <div class="preenchimento"></div>
    </div>
    <h3>Chaveiro Letra H</h3>
  </li>
  <li class="next new-next">
    <div class="conteudoItem"
      style="background-size: cover; background-position: center; background-image: url(images/destaques/destaque2.jpeg);">
      <div class="preenchimento"></div>
    </div>
    <h3>Mini Pingente para Pets</h3>
  </li>
</ul>
<div class="swipe"></div>
<script src="https://hammerjs.github.io/dist/hammer.js"></script>
<div class="containerArvore">
  <img src="images/arvore.png" width="80px" height="160px">
  <p>A resina curada é um material versátil que, quando solidificado, cria peças duráveis e esteticamente atraentes. Sua
    personalização é ilimitada, permitindo a criação de chaveiros, marca-páginas e uma variedade de objetos exclusivos.
    Ao ser moldada, a resina captura detalhes intricados, garantindo que cada peça seja única, refletindo o estilo e
    preferências individuais.</p>
</div>

<aside class="containerDoSeuJeito">
  <div class="imgdoseujeito"></div>
  <div class="fraseDestaque">
    <p>DO<br><span class="rosa">SEU</span><br>JEITO</p>
  </div>
</aside>

<div style="margin-left: 120px;">
  <h1
    style="font-family: Roboto light; font-style: italic; padding-top: 150px; letter-spacing: -2px; color: black; font-size: 30px; margin-bottom: 0px">
    CONFIRA</h1>
  <h1
    style="font-family: Italiana; letter-spacing: -4px; color: black; font-size: 47px; padding-left: 20px; margin-top: -13px">
    NOSSOS MOLDES</h1>
</div>

<div class="containerMoldes">
  <div>
    <img src="images/moldes/1.png" />
    <p>Molde círculo</p>
  </div>
  <div>
    <img src="images/moldes/2.png" />
    <p>Pingente grande</p>
  </div>
  <div>
    <img src="images/moldes/3.png" />
    <p>Pingente pequeno</p>
  </div>
  <div>
    <img src="images/moldes/4.png" />
    <p>Molde gato</p>
  </div>
  <div>
    <img src="images/moldes/5.png" />
    <p>Molde retangular</p>
  </div>
  <div>
    <img src="images/moldes/6.png" />
    <p>Pingente borboleta</p>
  </div>
  <div>
    <img src="images/moldes/7.png" />
    <p>Molde luva Mickey</p>
  </div>
  <div>
    <img src="images/moldes/8.png" />
    <p>Pingente gato e Mickey</p>
  </div>
  <div>
    <img src="images/moldes/9.png" />
    <p>Pingente lua e estrela</p>
  </div>
  <div>
    <img src="images/moldes/10.png" />
    <p>Pingente peixe e coração</p>
  </div>
  <div>
    <img src="images/moldes/12.png" />
    <p>Molde Bandeja</p>
  </div>
  <div>
    <img src="images/moldes/13.png" />
    <p>Segurador de página</p>
  </div>
  <div>
    <img src="images/moldes/14.png" />
    <p>Molde presilhas</p>
  </div>
  <div>
    <img src="images/moldes/15.png" />
    <p>Molde presilhas</p>
  </div>
  <div>
    <img src="images/moldes/16.png" />
    <p>Molde gota</p>
  </div>
  <div>
    <img src="images/moldes/17.png" />
    <p>Molde oval</p>
  </div>
  <div>
    <img src="images/moldes/18.png" />
    <p>Molde corações</p>
  </div>
  <div>
    <img src="images/moldes/19.png" />
    <p>Marca página coelho</p>
  </div>
  <div>
    <img src="images/moldes/20.png" />
    <p>Marca página gato</p>
  </div>
  <div>
    <img src="images/moldes/21.png" />
    <p>Marca página baleia</p>
  </div>
  <div>
    <img src="images/moldes/22.png" />
    <p>Marca página retangular</p>
  </div>
  <div>
    <img src="images/moldes/23.png" />
    <p>Marca página patinha</p>
  </div>
  <div>
    <img src="images/moldes/24.png" />
    <p>Marca página sereia</p>
  </div>
  <div>
    <img src="images/moldes/25.png" />
    <p>Marca página urso</p>
  </div>

</div>


<div style="margin-left: 120px;">
  <h1
    style="font-family: Roboto light; font-style: italic; padding-top: 150px; letter-spacing: -2px; color: black; font-size: 30px; margin-bottom: 0px">
    CONFIRA</h1>
  <h1
    style="font-family: Italiana; letter-spacing: -4px; color: black; font-size: 47px; padding-left: 20px; margin-top: -13px">
    NOSSAS CORES</h1>
</div>
<div class="carousel-container">
  <div>
    <h2>PASTAS</h2>
    <ul class="carousel my-carousel">
      <input class="carousel__activator" type="radio" id="A" name="activator" checked="checked" />
      <input class="carousel__activator" type="radio" id="B" name="activator" />
      <input class="carousel__activator" type="radio" id="C" name="activator" />
      <input class="carousel__activator" type="radio" id="D" name="activator" />
      <input class="carousel__activator" type="radio" id="E" name="activator" />
      <input class="carousel__activator" type="radio" id="F" name="activator" />
      <input class="carousel__activator" type="radio" id="G" name="activator" />
      <input class="carousel__activator" type="radio" id="H" name="activator" />
      <input class="carousel__activator" type="radio" id="I" name="activator" />
      <input class="carousel__activator" type="radio" id="J" name="activator" />
      <input class="carousel__activator" type="radio" id="K" name="activator" />
      <input class="carousel__activator" type="radio" id="L" name="activator" />

      <div class="carousel__controls">
        <label class="carousel__control carousel__control--backward" for="J"></label>
        <label class="carousel__control carousel__control--forward" for="B"></label>
      </div>
      <div class="carousel__controls">
        <label class="carousel__control carousel__control--backward" for="A"></label>
        <label class="carousel__control carousel__control--forward" for="C"></label>
      </div>
      <div class="carousel__controls">
        <label class="carousel__control carousel__control--backward" for="B"></label>
        <label class="carousel__control carousel__control--forward" for="D"></label>
      </div>
      <div class="carousel__controls">
        <label class="carousel__control carousel__control--backward" for="C"></label>
        <label class="carousel__control carousel__control--forward" for="E"></label>
      </div>
      <div class="carousel__controls">
        <label class="carousel__control carousel__control--backward" for="D"></label>
        <label class="carousel__control carousel__control--forward" for="F"></label>
      </div>
      <div class="carousel__controls">
        <label class="carousel__control carousel__control--backward" for="E"></label>
        <label class="carousel__control carousel__control--forward" for="G"></label>
      </div>
      <div class="carousel__controls">
        <label class="carousel__control carousel__control--backward" for="F"></label>
        <label class="carousel__control carousel__control--forward" for="H"></label>
      </div>
      <div class="carousel__controls">
        <label class="carousel__control carousel__control--backward" for="G"></label>
        <label class="carousel__control carousel__control--forward" for="I"></label>
      </div>
      <div class="carousel__controls">
        <label class="carousel__control carousel__control--backward" for="H"></label>
        <label class="carousel__control carousel__control--forward" for="J"></label>
      </div>
      <div class="carousel__controls">
        <label class="carousel__control carousel__control--backward" for="I"></label>
        <label class="carousel__control carousel__control--forward" for="K"></label>
      </div>
      <div class="carousel__controls">
        <label class="carousel__control carousel__control--backward" for="J"></label>
        <label class="carousel__control carousel__control--forward" for="L"></label>
      </div>
      <div class="carousel__controls">
        <label class="carousel__control carousel__control--backward" for="K"></label>
        <label class="carousel__control carousel__control--forward" for="A"></label>
      </div>

      <li class="carousel__slide">
        <h1>Azul Candy</h1>
      </li>
      <li class="carousel__slide">
        <h1>Amarelo</h1>
      </li>
      <li class="carousel__slide">
        <h1>Cinza</h1>
      </li>
      <li class="carousel__slide">
        <h1>Verde Água</h1>
      </li>
      <li class="carousel__slide">
        <h1>Vermelho</h1>
      </li>
      <li class="carousel__slide">
        <h1>Branco</h1>
      </li>
      <li class="carousel__slide">
        <h1>Azul Turquesa</h1>
      </li>
      <li class="carousel__slide">
        <h1>Preto</h1>
      </li>
      <li class="carousel__slide">
        <h1>Bege</h1>
      </li>
      <li class="carousel__slide">
        <h1>Amarelo Vintage</h1>
      </li>
      <li class="carousel__slide">
        <h1>Lilás</h1>
      </li>
      <li class="carousel__slide">
        <h1>Rosa Flamingo</h1>
      </li>

    </ul>
  </div>


  <div>
    <h2>PEROLADAS</h2>
    <ul class="carrossel my-carrossel">
      <input class="carrossel__activator" type="radio" id="M" name="activatorr" checked="checked" />
      <input class="carrossel__activator" type="radio" id="N" name="activatorr" />
      <input class="carrossel__activator" type="radio" id="O" name="activatorr" />
      <input class="carrossel__activator" type="radio" id="P" name="activatorr" />
      <input class="carrossel__activator" type="radio" id="Q" name="activatorr" />
      <input class="carrossel__activator" type="radio" id="R" name="activatorr" />
      <input class="carrossel__activator" type="radio" id="S" name="activatorr" />
      <input class="carrossel__activator" type="radio" id="T" name="activatorr" />
      <input class="carrossel__activator" type="radio" id="U" name="activatorr" />
      <input class="carrossel__activator" type="radio" id="V" name="activatorr" />
      <input class="carrossel__activator" type="radio" id="W" name="activatorr" />
      <input class="carrossel__activator" type="radio" id="X" name="activatorr" />
      <input class="carrossel__activator" type="radio" id="Y" name="activatorr" />
      <input class="carrossel__activator" type="radio" id="Z" name="activatorr" />
      <input class="carrossel__activator" type="radio" id="A2" name="activatorr" />
      <input class="carrossel__activator" type="radio" id="B2" name="activatorr" />
      <input class="carrossel__activator" type="radio" id="C2" name="activatorr" />
      <input class="carrossel__activator" type="radio" id="D2" name="activatorr" />
      <input class="carrossel__activator" type="radio" id="E2" name="activatorr" />
      <input class="carrossel__activator" type="radio" id="F2" name="activatorr" />
      <input class="carrossel__activator" type="radio" id="G2" name="activatorr" />
      <input class="carrossel__activator" type="radio" id="H2" name="activatorr" />
      <input class="carrossel__activator" type="radio" id="I2" name="activatorr" />
      <input class="carrossel__activator" type="radio" id="J2" name="activatorr" />
      <input class="carrossel__activator" type="radio" id="K2" name="activatorr" />
      <input class="carrossel__activator" type="radio" id="L2" name="activatorr" />
      <input class="carrossel__activator" type="radio" id="M2" name="activatorr" />

      <div class="carrossel__controls">
        <label class="carrossel__control carrossel__control--backward" for="M2"></label>
        <label class="carrossel__control carrossel__control--forward" for="N"></label>
      </div>
      <div class="carrossel__controls">
        <label class="carrossel__control carrossel__control--backward" for="M"></label>
        <label class="carrossel__control carrossel__control--forward" for="O"></label>
      </div>
      <div class="carrossel__controls">
        <label class="carrossel__control carrossel__control--backward" for="N"></label>
        <label class="carrossel__control carrossel__control--forward" for="P"></label>
      </div>
      <div class="carrossel__controls">
        <label class="carrossel__control carrossel__control--backward" for="O"></label>
        <label class="carrossel__control carrossel__control--forward" for="Q"></label>
      </div>
      <div class="carrossel__controls">
        <label class="carrossel__control carrossel__control--backward" for="P"></label>
        <label class="carrossel__control carrossel__control--forward" for="R"></label>
      </div>
      <div class="carrossel__controls">
        <label class="carrossel__control carrossel__control--backward" for="Q"></label>
        <label class="carrossel__control carrossel__control--forward" for="S"></label>
      </div>
      <div class="carrossel__controls">
        <label class="carrossel__control carrossel__control--backward" for="R"></label>
        <label class="carrossel__control carrossel__control--forward" for="T"></label>
      </div>
      <div class="carrossel__controls">
        <label class="carrossel__control carrossel__control--backward" for="S"></label>
        <label class="carrossel__control carrossel__control--forward" for="U"></label>
      </div>
      <div class="carrossel__controls">
        <label class="carrossel__control carrossel__control--backward" for="T"></label>
        <label class="carrossel__control carrossel__control--forward" for="V"></label>
      </div>
      <div class="carrossel__controls">
        <label class="carrossel__control carrossel__control--backward" for="U"></label>
        <label class="carrossel__control carrossel__control--forward" for="W"></label>
      </div>
      <div class="carrossel__controls">
        <label class="carrossel__control carrossel__control--backward" for="V"></label>
        <label class="carrossel__control carrossel__control--forward" for="X"></label>
      </div>
      <div class="carrossel__controls">
        <label class="carrossel__control carrossel__control--backward" for="W"></label>
        <label class="carrossel__control carrossel__control--forward" for="Y"></label>
      </div>
      <div class="carrossel__controls">
        <label class="carrossel__control carrossel__control--backward" for="X"></label>
        <label class="carrossel__control carrossel__control--forward" for="Z"></label>
      </div>
      <div class="carrossel__controls">
        <label class="carrossel__control carrossel__control--backward" for="Y"></label>
        <label class="carrossel__control carrossel__control--forward" for="A2"></label>
      </div>
      <div class="carrossel__controls">
        <label class="carrossel__control carrossel__control--backward" for="Z"></label>
        <label class="carrossel__control carrossel__control--forward" for="B2"></label>
      </div>
      <div class="carrossel__controls">
        <label class="carrossel__control carrossel__control--backward" for="A2"></label>
        <label class="carrossel__control carrossel__control--forward" for="C2"></label>
      </div>
      <div class="carrossel__controls">
        <label class="carrossel__control carrossel__control--backward" for="B2"></label>
        <label class="carrossel__control carrossel__control--forward" for="D2"></label>
      </div>
      <div class="carrossel__controls">
        <label class="carrossel__control carrossel__control--backward" for="C2"></label>
        <label class="carrossel__control carrossel__control--forward" for="E2"></label>
      </div>
      <div class="carrossel__controls">
        <label class="carrossel__control carrossel__control--backward" for="D2"></label>
        <label class="carrossel__control carrossel__control--forward" for="F2"></label>
      </div>
      <div class="carrossel__controls">
        <label class="carrossel__control carrossel__control--backward" for="E2"></label>
        <label class="carrossel__control carrossel__control--forward" for="G2"></label>
      </div>
      <div class="carrossel__controls">
        <label class="carrossel__control carrossel__control--backward" for="F2"></label>
        <label class="carrossel__control carrossel__control--forward" for="H2"></label>
      </div>
      <div class="carrossel__controls">
        <label class="carrossel__control carrossel__control--backward" for="G2"></label>
        <label class="carrossel__control carrossel__control--forward" for="I2"></label>
      </div>
      <div class="carrossel__controls">
        <label class="carrossel__control carrossel__control--backward" for="H2"></label>
        <label class="carrossel__control carrossel__control--forward" for="J2"></label>
      </div>
      <div class="carrossel__controls">
        <label class="carrossel__control carrossel__control--backward" for="I2"></label>
        <label class="carrossel__control carrossel__control--forward" for="K2"></label>
      </div>
      <div class="carrossel__controls">
        <label class="carrossel__control carrossel__control--backward" for="J2"></label>
        <label class="carrossel__control carrossel__control--forward" for="L2"></label>
      </div>
      <div class="carrossel__controls">
        <label class="carrossel__control carrossel__control--backward" for="K2"></label>
        <label class="carrossel__control carrossel__control--forward" for="M2"></label>
      </div>
      <div class="carrossel__controls">
        <label class="carrossel__control carrossel__control--backward" for="L2"></label>
        <label class="carrossel__control carrossel__control--forward" for="M"></label>
      </div>

      <li class="carrossel__slide">
        <h1>Rosa Claro</h1>
      </li>
      <li class="carrossel__slide">
        <h1>Cinza</h1>
      </li>
      <li class="carrossel__slide">
        <h1>Verde Escuro</h1>
      </li>
      <li class="carrossel__slide">
        <h1>Azul Escuro</h1>
      </li>
      <li class="carrossel__slide">
        <h1>Azul</h1>
      </li>
      <li class="carrossel__slide">
        <h1>Azul Claro</h1>
      </li>
      <li class="carrossel__slide">
        <h1>Marrom Escuro</h1>
      </li>
      <li class="carrossel__slide">
        <h1>Marrom</h1>
      </li>
      <li class="carrossel__slide">
        <h1>Bronze</h1>
      </li>
      <li class="carrossel__slide">
        <h1>Marrom Claro</h1>
      </li>
      <li class="carrossel__slide">
        <h1>Laranja</h1>
      </li>
      <li class="carrossel__slide">
        <h1>Amarelo</h1>
      </li>
      <li class="carrossel__slide">
        <h1>Dourado Claro</h1>
      </li>
      <li class="carrossel__slide">
        <h1>Dourado</h1>
      </li>
      <li class="carrossel__slide">
        <h1>Roxo</h1>
      </li>
      <li class="carrossel__slide">
        <h1>Branco</h1>
      </li>
      <li class="carrossel__slide">
        <h1>Rosa Chiclete</h1>
      </li>
      <li class="carrossel__slide">
        <h1>Pink</h1>
      </li>
      <li class="carrossel__slide">
        <h1>Rosa</h1>
      </li>
      <li class="carrossel__slide">
        <h1>Rosa Choque</h1>
      </li>
      <li class="carrossel__slide">
        <h1>Cobre</h1>
      </li>
      <li class="carrossel__slide">
        <h1>Verde Fluorescente</h1>
      </li>
      <li class="carrossel__slide">
        <h1>Verde Esmeralda</h1>
      </li>
      <li class="carrossel__slide">
        <h1>Verde Água</h1>
      </li>
      <li class="carrossel__slide">
        <h1>Verde Bandeira</h1>
      </li>
      <li class="carrossel__slide">
        <h1>Verde Claro</h1>
      </li>
      <li class="carrossel__slide">
        <h1>Magenta</h1>
      </li>

    </ul>
  </div>
</div>

<div class="containerWhats">
  <div class="zapzap">

    <div style="text-align: center; padding-top: 80px">
      <img src="img/logo.png" width="200px" height="200px">
      <br><br>
      <p>DM Arte em Resina</p>
      <br>
      <a class="botaodozap" href="https://contate.me/dmresinas">Iniciar Conversa</a>
    </div>
  </div>
  <div class="passos">
    <h1 style="font-weight: bold">Como funciona o atendimento pelo <span style="color: #1CC172">WhatsApp</span>?</h1>
    <p>1. Clique no botão do WhatsApp ou adicione o número no seu celular.</p>
    <p>2. Envie uma mensagem com o pedido desejado, informando detalhes como tamanho, cor e quantidade do produto,
      endereço de entrega e forma de pagamento.</p>
    <p>3. Aguarde a resposta da empresa com as informações necessárias para a conclusão do pedido, como valor total,
      prazo de entrega e formas de pagamento disponíveis.</p>
    <p>4. Confirme as informações do pedido e a forma de pagamento escolhida.</p>
    <p>5. Aguarde a entrega do pedido no endereço informado! :)</p>
  </div>
</div>

@section Scripts {
  <script src="~/js/site.js" asp-append-version="true"></script>
}