<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<script type="text/javascript" src="site.js"></script>

<body>
    <div class="text-center">
        <div id="app">
            <div data-reactroot="" id="carousel" class="noselect">
                <div class="arrow arrow-left">
                    <i class="fi-arrow-left"></i>
                </div>
                <span>
                    <div class="item level2">9</div>
                    <div class="item level1">10</div>
                    <div class="item level0">1</div>
                    <div class="item level-1">2</div>
                    <div class="item level-2">3</div>
                </span>
                <div class="arrow arrow-right"><i class="fi-arrow-right"></i></div>
            </div>
        </div>
    </div>
</body>

</html>