
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="/DmResinas/wwwroot/js/site.js"></script>
</head>

<body>
    <div class="hero-image"></div>

    <div style="margin-left: 120px;">
        <h1
            style="font-family: Roboto; font-style: italic; letter-spacing: -2px; color: black; font-size: 30px; margin-bottom: 0px">
            NOSSOS</h1>
        <h1
            style="font-family: Italiana; letter-spacing: -4px; color: black; font-size: 47px; padding-left: 20px; margin-top: -13px">
            DESTAQUES</h1>
    </div>

 <ul class="list">
        <li class="hide"></li>
        <li class="prev3">
          <p>SABONETEIRA</p>
        </li>
        <li class="prev2">
          <p>CHAVEIRO</p>
        </li>
        <li class="prev1">
          <p>PLAQUINHA QR CODE</p>
        </li>
        <li class="prev"></li>
        <li class="act">
          <p>MARCA-PÁGINA</p>
        </li>
        <li class="next">
          <p>PORTA-RETRATO</p>
        </li>
        <li class="next1"></li>
        <li class="next2">
          <p>CHAVEIRO</p>
        </li>
        <li class="next3"></li>
        <li class="next new-next"></li>
    </ul>

<div class="swipe"></div>

<script src="https://hammerjs.github.io/dist/hammer.js"></script>

    <br><br>

    <div class="doseujeito">
        <img class="imgdoseujeito" src="https://cdn.discordapp.com/attachments/838572990102372402/1131785793539690536/image.png"/>
        <div class="fraseDestaque">
          <p>DO<br><span class="rosa">SEU</span><br>JEITO</p>
        </div>
    </div>
</body>

</html>