@{
    ViewData["Title"] = "Sobre";
}

<body>
    <header class="introductionSobre">
        <div class="text-center">
            <h1 class="italiana">Olá!</h1>
        </div>
    </header>
    <main class="containerSobre">
        <article class="mainSobre">
            <div class="datesSobre"></div>
            <div class="middleSobre">
                <div class="lineSobre"></div>
            </div>
            <section class="infoSobre"></section>
            <div class="datesSobre mostrar">
                <h2>Janeiro 2022</h2>
            </div>
            <div class="middleSobre">
                <div class="lineSobre3"></div>
                <div class="dotSobre"></div>
                <div class="lineSobre2"></div>
            </div>
            <section class="infoSobre mostrar">
                <div class="blockSobre">
                    <p class="textoSobre">Meu nome é Fernanda – mas pode me chamar de Fer – e eu sou uma vendedora
                        e criadora de peças de resina! Mas antes de falar sobre a minha arte, deixe-me contar um
                        pouco sobre a minha história.</p>
                    <figure class="figuraSobre">
                        <img src="https://media.discordapp.net/attachments/826872414147313764/1174889651304136754/image.png?ex=65693c41&is=6556c741&hm=3112aebd9131fdc780f927bc49b0405c1b34ae733aca5b7419a8f7715553c849&=&width=475&height=667"
                            width="288.5px" height="auto" />
                    <figure>
                </div>
            </section>
            <div class="datesSobre">
                <h2>Setembro 1997</h2>
            </div>
            <div class="middleSobre">
                <div class="lineSobre3"></div>
                <div class="dotSobre"></div>
                <div class="lineSobre2"></div>
            </div>
            <section class="infoSobre">
                <div class="blockSobre">
                    <p class="textoSobre">Eu cresci em uma pequena cidade no interior e desde pequena sempre fui
                        apaixonada por artesanato. Eu amava criar coisas novas com minhas próprias mãos, seja costurando
                        roupas para as minhas bonecas ou fazendo bijuterias para presentear minhas amigas. Eu sempre
                        soube que minha paixão seria transformar minha criatividade em uma carreira.</p>
                    <figure class="figuraSobre">
                        <img src="https://cdn.discordapp.com/attachments/826872414147313764/1174883885117620345/image.png?ex=656936e2&is=6556c1e2&hm=750f6d83c57d1b8c776930f3a7fe2616f98d1e6fa4835478fe5e033578782bb2&"
                            width="288.5px" height="auto" />
                    <figure>
                </div>
            </section>
            <div class="datesSobre">
                <h2>Janeiro 2022</h2>
            </div>
            <div class="middleSobre">
                <div class="lineSobre3"></div>
                <div class="dotSobre"></div>
                <div class="lineSobre2"></div>
            </div>
            <section class="infoSobre">
                <div class="blockSobre">
                         <p class="textoSobre">No entanto, a vida nem sempre segue nossos planos. Quando eu era adolescente, tive que lidar com uma grande 
                        perda em minha família e acabei tendo que deixar meus sonhos de lado para ajudar a sustentar a casa. Eu comecei a 
                        trabalhar em diversos empregos, mas nenhum deles me preenchia realmente.</p>
                    <figure class="figuraSobre">
                        <img src="https://media.discordapp.net/attachments/838572990102372402/1163297145043038351/image.png?ex=653f0fe4&is=652c9ae4&hm=a408cf1bb294dfe9f936f88d674af321a06f9c8aaff7dff2ff738239e66aff0f&=&width=514&height=667"
                            width="288.5px" height="374.5px" />
                    <figure>
                </div>
            </section>
            <div class="datesSobre">
                <h2>Janeiro 2022</h2>
            </div>
            <div class="middleSobre">
                <div class="lineSobre3"></div>
                <div class="dotSobre"></div>
                <div class="lineSobre2"></div>
            </div>
            <section class="infoSobre">
                <div class="blockSobre">
                         <p class="textoSobre">Foi só depois de muitos anos que finalmente decidi seguir meu coração e
                         voltar para minha paixão pelo artesanato. Comecei a experimentar com diversos materiais e técnicas,
                        mas quando descobri a resina, foi amor à primeira vista. A resina me permite criar peças únicas, cheias 
                        de cor e brilho, que capturam a beleza da natureza.</p>
                    <figure class="figuraSobre">
                        <img src="https://media.discordapp.net/attachments/838572990102372402/1163297145043038351/image.png?ex=653f0fe4&is=652c9ae4&hm=a408cf1bb294dfe9f936f88d674af321a06f9c8aaff7dff2ff738239e66aff0f&=&width=514&height=667"
                            width="288.5px" height="374.5px" />
                    <figure>
                </div>
            </section>
            <div class="datesSobre">
                <h2>Janeiro 2022</h2>
            </div>
            <div class="middleSobre">
                <div class="lineSobre3"></div>
                <div class="dotSobre"></div>
                <div class="lineSobre2"></div>
            </div>
            <section class="infoSobre">
                <div class="blockSobre">
                         <p class="textoSobre">Agora, aqui estou eu, criando minhas peças de resina e compartilhando 
                         minha paixão com o mundo. Cada peça é feita com muito amor e dedicação, e é minha maneira de espalhar 
                         um pouco de alegria e beleza no mundo. Espero que você também possa se encantar com a minha arte e que ela 
                         possa trazer um sorriso ao seu dia. Obrigada por me acompanhar nessa jornada!</p>
                    <figure class="figuraSobre">
                        <img src="https://media.discordapp.net/attachments/838572990102372402/1163297145043038351/image.png?ex=653f0fe4&is=652c9ae4&hm=a408cf1bb294dfe9f936f88d674af321a06f9c8aaff7dff2ff738239e66aff0f&=&width=514&height=667"
                            width="288.5px" height="374.5px" />
                    <figure>
                </div>
            </section>
            <div class="datesSobre"></div>
            <div class="middleSobre">
                <div class="lineSobre4"></div>
            </div>
            <section class="infoSobre"></section>
            <script src="~/js/site.js"></script>
        </article>
        <div class="fraseFinal">
            <div class="text-center">
                <h2 class="italiana">Sua presença torna o<br>meu trabalho especial!</h2>
            </div>
            <button class="botaoProdutos">
                <a href="/Home/Catalogo">Ver produtos</a>
            </button>
        </div>
    </main>
</body>