@{
    ViewData["Title"] = "Sobre";
}

<body>
    <header class="introductionSobre">
        <div class="text-center">
            <h1 class="italiana">Olá!</h1>
        </div>
    </header>
    <main class="containerSobre">
        <article class="mainSobre">
            <div class="datesSobre"></div>
            <div class="middleSobre">
                <div class="lineSobre"></div>
            </div>
            <section class="infoSobre"></section>
            <div class="datesSobre mostrar">
                <h2>Bem-Vindo!</h2>
            </div>
            <div class="middleSobre">
                <div class="lineSobre3"></div>
                <div class="dotSobre"></div>
                <div class="lineSobre2"></div>
            </div>
            <section class="infoSobre mostrar">
                <div class="blockSobre">
                    <p class="textoSobre">Meu nome é Fernanda – mas pode me chamar de Fer – e eu sou a vendedora
                        e criadora de peças de resina! Mas antes de falar sobre a minha arte, deixe-me contar um
                        pouco sobre a minha história.</p>
                    <figure class="figuraSobre">
                        <img src=~/images/fer/fotofer1.jpg width="288.5px" height="auto" />
                        <figure>
                </div>
            </section>
            <div class="datesSobre">
                <h2>Setembro 1997</h2>
            </div>
            <div class="middleSobre">
                <div class="lineSobre3"></div>
                <div class="dotSobre"></div>
                <div class="lineSobre2"></div>
            </div>
            <section class="infoSobre">
                <div class="blockSobre">
                    <p class="textoSobre">Eu nasci dia 18 de setembro de 1997 e cresci em uma pequena cidade no interior
                        do estado de São Paulo. Desde pequena sempre fui
                        apaixonada por artesanato. Eu amava criar coisas novas com minhas próprias mãos, seja costurando
                        roupas para as minhas bonecas ou fazendo pulseirinhas com minhas irmãs. Eu sempre
                        soube que minha paixão seria transformar minha criatividade em uma carreira.</p>
                    <figure class="figuraSobre">
                        <img src="https://cdn.discordapp.com/attachments/826872414147313764/1174883885117620345/image.png?ex=656936e2&is=6556c1e2&hm=750f6d83c57d1b8c776930f3a7fe2616f98d1e6fa4835478fe5e033578782bb2&"
                            width="288.5px" height="auto" />
                        <figure>
                </div>
            </section>
            <div class="datesSobre">
                <h2>Julho 2021</h2>
            </div>
            <div class="middleSobre">
                <div class="lineSobre3"></div>
                <div class="dotSobre"></div>
                <div class="lineSobre2"></div>
            </div>
            <section class="infoSobre">
                <div class="blockSobre">
                    <p class="textoSobre">Foi em julho de 2021 que encontrei, finalmente, um trabalho que me faria
                        feliz. Foi através um curso sobre peças em resina que encontrei por acaso, algo tão criativo e
                        diferente que simplesmente despertou minha curiosidade. Trabalhar com isso tornou-se mais do que
                        uma profissão; transformou-se em uma paixão misturada de entusiasmo.
                    </p>
                    <figure class="figuraSobre">
                        <img src=~/images/fer/fotofer2.jpg width="288.5px" height="374.5px" />
                        <figure>
                </div>
            </section>
            <div class="datesSobre">
                <h2>Julho 2021</h2>
            </div>
            <div class="middleSobre">
                <div class="lineSobre3"></div>
                <div class="dotSobre"></div>
                <div class="lineSobre2"></div>
            </div>
            <section class="infoSobre">
                <div class="blockSobre">
                    <p class="textoSobre">O mais gratificante foi saber
                        que as peças que crio não apenas alimentam minha própria felicidade e orgulho, mas também trazem
                        alegria e satisfação para meus clientes. Encontrar esse trabalho foi como descobrir um pedaço de
                        mim que estava esperando para ser revelado, e cada peça é um capítulo emocionante dessa
                        jornada.</p>
                    <figure class="figuraSobre">
                        <img src=~/images/fer/fotofer4.jpg width="288.5px" height="auto" />
                        <figure>
                </div>
            </section>
            <div class="datesSobre">
                <h2>Obrigada!</h2>
            </div>
            <div class="middleSobre">
                <div class="lineSobre3"></div>
                <div class="dotSobre"></div>
                <div class="lineSobre2"></div>
            </div>
            <section class="infoSobre">
                <div class="blockSobre">
                    <p class="textoSobre">Agora, aqui estou eu, criando minhas peças de resina e compartilhando
                        minha paixão com vocês. Cada peça é feita com muito amor e dedicação, e é minha maneira de
                        espalhar
                        um pouco de alegria e beleza no mundo. Espero que você também possa se encantar com a minha arte
                        e que ela
                        possa trazer um sorriso ao seu dia. Obrigada por me acompanhar nesse sonho!</p>
                    <figure class="figuraSobre">
                        <img src=~/images/fer/fotofer3.jpg width="288.5px" height="auto" />
                        <figure>
                </div>
            </section>
            <div class="datesSobre"></div>
            <div class="middleSobre">
                <div class="lineSobre4"></div>
            </div>
            <section class="infoSobre"></section>
        </article>
        <div class="fraseFinal">
            <div class="text-center">
                <h2 class="italiana">Sua presença torna o<br>meu trabalho especial!</h2>
            </div>
            <button class="botaoProdutos">
                <a href="/Home/Catalogo">Ver produtos</a>
            </button>
        </div>
    </main>
</body>