@{
    ViewData["Title"] = "Sobre";
}

<head>
    <script type="text/javascript" src="/DmResinas/wwwroot/js/site.js"></script>
    <script type="text/javascript" src="/DmResinas/wwwroot/js/sobre.js"></script>
<head>
<main class="containerSobre">
    <header class="introductionSobre">
        <div class="text-center">
            <h1 class="italiana">Olá!</h1>
        </div>
    </header>
    <article class="mainSobre">
        <div class="datesSobre"></div>
        <div class="middleSobre">
            <div class="lineSobre"></div>
        </div>
        <section class="infoSobre"></section>
        <div class="datesSobre mostrar">
            <h2>Janeiro 2022</h2>
        </div>
        <div class="middleSobre">
            <div class="lineSobre3"></div>
            <div class="dotSobre"></div>
            <div class="lineSobre2"></div>
        </div>
        <section class="infoSobre mostrar">
            <div class="blockSobre">
                <p class="textoSobre">Meu nome é Fernanda – mas<br>pode me chamar de Fer – e eu sou<br>uma vendedora e criadora de peças de<br>resina!Mas antes de falar sobre a<br>minha arte, deixe-me contar um pouco<br>sobre a minha história.</p>
                <figure class="figuraSobre">
                    <img src="https://media.discordapp.net/attachments/838572990102372402/1163297145043038351/image.png?ex=653f0fe4&is=652c9ae4&hm=a408cf1bb294dfe9f936f88d674af321a06f9c8aaff7dff2ff738239e66aff0f&=&width=514&height=667" width="288.5px" height="374.5px"/>
                <figure>
            </div>
        </section>
        <div class="datesSobre">
            <h2>Setembro 1997</h2>
        </div>
        <div class="middleSobre">
            <div class="lineSobre3"></div>
            <div class="dotSobre"></div>
            <div class="lineSobre2"></div>
        </div>
        <section class="infoSobre">
            <div class="blockSobre">
                <p class="textoSobre">Eu cresci em uma pequena cidade no interior e desde pequena sempre fui apaixonada por artesanato. Eu amava criar coisas novas com minhas próprias mãos, seja costurando roupas para as minhas bonecas ou fazendo bijuterias para presentear minhas amigas. Eu sempre soube que minha paixão seria transformar minha criatividade em uma carreira.</p>
                <figure class="figuraSobre">
                    <img src="https://media.discordapp.net/attachments/838572990102372402/1163297145043038351/image.png?ex=653f0fe4&is=652c9ae4&hm=a408cf1bb294dfe9f936f88d674af321a06f9c8aaff7dff2ff738239e66aff0f&=&width=514&height=667" width="288.5px" height="374.5px"/>
                <figure>
            </div>
        </section>
                <div class="datesSobre">
            <h2>Janeiro 2022</h2>
        </div>
        <div class="middleSobre">
            <div class="lineSobre3"></div>
            <div class="dotSobre"></div>
            <div class="lineSobre2"></div>
        </div>
        <section class="infoSobre">
            <div class="blockSobre">
                <p class="textoSobre">Meu nome é Fernanda – mas<br>pode me chamar de Fer – e eu sou<br>uma vendedora e criadora de peças de<br>resina!
                Mas antes de falar sobre a<br>minha arte, deixe-me contar um pouco<br>sobre a minha história.</p>
                <figure class="figuraSobre">
                    <img src="https://media.discordapp.net/attachments/838572990102372402/1163297145043038351/image.png?ex=653f0fe4&is=652c9ae4&hm=a408cf1bb294dfe9f936f88d674af321a06f9c8aaff7dff2ff738239e66aff0f&=&width=514&height=667" width="288.5px" height="374.5px"/>
                <figure>
            </div>
        </section>
    </article>
</main>