@{
    ViewData["Title"] = "Sobre";
}
<article class="introduction">
    <section class="text-center">
        <h1 class="title italiana">Olá!</h1>
    </section>
</article>
<article class="main">
    <section class="block right">
        <figure class="figuraSobre">
            <figcaption>Olá, meu nome é Fernanda – mas<br>pode me chamar de Fer – e eu sou<br>uma vendedora e criadora de peças de<br>resina!
            Mas antes de falar sobre a<br>minha arte, deixe-me contar um pouco<br>sobre a minha história.</figcaption>
            <img src="https://media.discordapp.net/attachments/838572990102372402/1163297145043038351/image.png?ex=653f0fe4&is=652c9ae4&hm=a408cf1bb294dfe9f936f88d674af321a06f9c8aaff7dff2ff738239e66aff0f&=&width=514&height=667" width="288.5px" height="374.5px"/>
        <figure>
    </section>
</article>
