/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.botaoindex {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: #D7911A;
  border-radius: 30px;
  color: white;
  text-align: center;
  font-size: 13px;
  border: 1px solid #D7911A;
  font-family: 'Inter';
  letter-spacing: 2px;
  height: 55px;
  width: 200px;
  padding: 0 19px;
}

.botaoindex p {
  margin-bottom: 0;
}

.itemmenu {
  font-family: 'Inter'; 
  font-size: 13px;
  text-decoration: none;
  justify-content: space-evenly;
  list-style:none;
}

.itemmenu ul { 
  display: flex;
  
}

.itemmenu ul li {
  list-style-type: none;
    padding-right: 14px;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.navbar-brand {
  border: 50px;
  border-width: 50px;
}

ul {
  margin:0;
  padding:0;
  list-style-type:none;
  text-align:center;
}

.coloridinho {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 7px;
}

#retangulo1 {
  background: #FFD9AC;
}

#retangulo2 {
  background: #C58A3E;
}

#retangulo3 {
  background: #FAEBB2;
}

#retangulo4 {
  background: #F1A961;
}

#retangulo5 {
  background: #E6BC74;
}



.navbar{
  padding-right: 66px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 15px; 
  border-bottom: 5px solid #D7911A;
}

.justify-content-center {
  margin: 0px
}

.border-top {
  border-top: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  position: relative;
  margin-bottom: 0px;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
