@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> signInManager
@inject UserManager<IdentityUser> userManager

<ul class="navbar-nav row nav-justified" style="width: 220px">
    @if (signInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a asp-controller="Account" asp-action="Profile" class="nav-link" title="Gerenciar minha conta">
                Olá @User.Identity?.Name!
            </a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-controller="Account" asp-action="Logout">
                <button type="submit" class="nav-link btn btn-link">
                    Sair
                </button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item mx-auto">
            <a asp-controller="Account" asp-action="Login" class="nav-link btn" style="background: #E6BC74; border-radius: 5px; color: white; margin-right: 30px; font-size: 14px; font-family: Montserrat;">
                LOGIN
            </a>
            <a asp-controller="Account" asp-action="Register" class="nav-link btn" style="background: white; border-radius: 5px; color: #E6BC74; margin-right: 30px; margin-top: 5px; font-size: 14px; border: 1px solid #E6BC74; font-family: Montserrat;">
                CADASTRAR
            </a>
        </li>
    }

</ul>