@using Microsoft.AspNetCore.Identity
@inject SignInManager<Clients> signInManager
@inject UserManager<Clients> userManager

<ul class="navbar-nav">
    @if (signInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a asp-controller="Account" asp-action="Profile" class="nav-link" title="Gerenciar minha conta">
                Olá @User.Identity?.Name!
            </a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-controller="Account" asp-action="Logout">
                <button type="submit" class="nav-link btn btn-link">
                    Sair
                </button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a asp-controller="Account" asp-action="Login" class="nav-link" style="background: #E6BC74; border-radius: 5px; color: white; padding: 5px 60px 5px 60px; margin-right: 30px; font-size: 17px; font-family: Montserrat; :hover {padding: 5px 80px 5px 80px}">
                LOGIN
            </a>
            <a asp-controller="Account" asp-action="Register" class="nav-link" style="background: white; border-radius: 5px; color: #E6BC74; margin-right: 30px; padding: 5px 60px 5px 60px; font-size: 17px; border: 1px solid #E6BC74; margin-top: 5px; font-family: Montserrat; :hover {padding: 5px 80px 5px 80px}">
                CADASTRAR
            </a>
        </li>
    }

</ul>