main {
    min-height: 100vh;
}

.nav-link {
    margin-bottom: 5px;
}

.nav-link:hover {
    background-color: #E6BC74 !important;
    color: white;
}

.nav-link.active {
    background-color: #C58A3E !important; 
    color: white;
}

.bi {
    font-size: 20px;
}

