@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0px
}

.hero-image {
  background-image: url("https://cdn.discordapp.com/attachments/838572990102372402/1131324611389309039/image.png");
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#retangulo1 {
  background: #FFD9AC;
  width: 270px;
  height: 7px;
}

#retangulo2 {
  background: #C58A3E;
  width: 270px;
  height: 7px;
}

#retangulo3 {
  background: #FAEBB2;
  width: 270px;
  height: 7px;
}

#retangulo4 {
  background: #F1A961;
  width: 270px;
  height: 7px;
}

#retangulo5 {
  background: #E6BC74;
  width: 270px;
  height: 7px;
}

footer {
  background-color: #fff3e5;
  padding: 50px 0;
}

.container-footer {
  max-width: 1400px;
  padding: 0 4%;
  margin: 40px;
}

.row-footer {
  display: flex;
  flex-wrap: wrap;
}

.footer-col {
  width: 25%;
  text-align: center;
}

.footer-col h1 {
  font-size: 16px;
  margin-bottom: 20px;
  position: relative;
}

.footer-col ul {
  list-style: none;
  font-size: 14px;
}

.footer-col ul li {
  margin: 5px 0;
}

.footer-col ul li a {
  font-size: 14px;
  text-decoration: none;
  display: block;
}

/* Responsivo */
@media (max-width: 800px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media (max-width:600px) {
  .footer-col {
    width: 100%;
  }
}