@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');


html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

* {
  padding: 0;
  margin: 0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  overflow-x: hidden;
  margin: 0px
}

.hero-image {
  background-image: url("https://cdn.discordapp.com/attachments/838572990102372402/1131324611389309039/image.png");
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 50px;
}


/* CARROSSEL */
.list {
  height: 200px;
  position: flex;
  top: 50%;
  left: 50%;
}

.list li {
  list-style-type: none;
  
  width: 200px;
  height: 200px;
  opacity: .25;
  position: absolute;
  left: 50%;
  margin-left: -100px;
  border-radius: 2px;
  background: #9C89B8;
  transition: transform 1s, opacity 1s;
}

.list .act {
  opacity: 1;
}

.list .prev,
.list .next {
  cursor: pointer;
}

.list .prev {
  transform: translateX(-220px) scale(.85);
}

.list .prev1 {
  transform: translateX(-420px) scale(.79);
}

.list .prev2 {
  transform: translateX(-620px) scale(.79);
}

.list .prev3 {
  transform: translateX(-820px) scale(.79);
}

.list .next {
  transform: translateX(220px) scale(.85);
}

.list .next1 {
  transform: translateX(420px) scale(.79);
}

.list .next2 {
  transform: translateX(620px) scale(.79);
}

.list .next3 {
  transform: translateX(820px) scale(.79);
}


.list .hide {
  transform: translateX(-1020px) scale(.85);
}

.list .new-next {
  transform: translateX(1020px) scale(.85);
}

.list .hide,
.list .new-next {
  opacity: 0;
  transition: opacity .5s, transform .5s;
}

.swipe {
  width: 270px;
  height: 200px;
  position: absolute;
  background-color: green;
  border-radius: 2px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  opacity: 0;
}
/* FIM DO CARROSSEL */


#retangulo1 {
  background: #FFD9AC;
  width: 270px;
  height: 7px;
}

#retangulo2 {
  background: #C58A3E;
  width: 270px;
  height: 7px;
}

#retangulo3 {
  background: #FAEBB2;
  width: 270px;
  height: 7px;
}

#retangulo4 {
  background: #F1A961;
  width: 270px;
  height: 7px;
}

#retangulo5 {
  background: #E6BC74;
  width: 270px;
  height: 7px;
}

.imgdoseujeito {
  border-top-right-radius: 200px;
  border-bottom-right-radius: 200px;
  width: 900px;
  height: 400px;
}

.palavrado {
text-align: right;
}

footer {
  background-color: #fff3e5;
  padding: 50px 0;
}

.container-footer {
  max-width: 1400px;
  padding: 0 4%;
  margin: 40px;
}

.row-footer {
  display: flex;
  flex-wrap: wrap;
}

.footer-col {
  width: 25%;
  text-align: center;
}

.footer-col h1 {
  font-size: 16px;
  margin-bottom: 20px;
  position: relative;
}

.footer-col ul {
  list-style: none;
  font-size: 14px;
}

.footer-col ul li {
  margin: 5px 0;
}

.footer-col ul li a {
  font-size: 14px;
  text-decoration: none;
  display: block;
}

/* Responsivo */
@media (max-width: 800px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media (max-width:600px) {
  .footer-col {
    width: 100%;
  }
}