@model DmResinas.Models.Produto
@{
    ViewData["Title"] = "Filmes";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 class="display-4">Produtos</h1>
<h4 class="display-6">Detalhes</h4>
<hr />
<div class="row" enctype="multipart/form-data">
    <div class="col-md-8 col-sm-12 col-xxl-9">
        <div class="col-12 mb-2">
            <label asp-for="Nome" class="form-label"></label>
            <input asp-for="Nome" class="form-control" disabled/>
        </div>
        <div class="col-12 mb-2">
            <label asp-for="Descricao" class="form-label"></label>
            <textarea asp-for="Descricao" class="form-control" rows="3" disabled></textarea>
        </div>
        <div class="row mb-2">
            <div class="col-md-4">
                <label asp-for="Preco" class="form-label"></label>
                <input asp-for="Preco" class="form-control" disabled/>
            </div>
        </div>
        <div class="btn-group my-2">
            @foreach (ProdutoCategoria ProdutoCategorias in Model.Categorias)
            {
                <h2><span class="badge bg-secondary me-2">@ProdutoCategorias.Categoria.Nome</span></h2>
            }
        </div>
        <div class="btn-group my-2">
            @foreach (ProdutoCor ProdutoCores in Model.Cores)
            {
                <h2><span class="badge bg-secondary me-2">@ProdutoCores.Cor.Nome</span></h2>
            }
        </div>
    </div>
    <div class="col-12 mt-4">
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-success me-3"><i class="bi bi-pencil-fill"></i> Editar</a>
        <a asp-action="Index" class="btn btn-primary"><i class="bi bi-arrow-left-circle-fill"></i> Voltar a Listagem</a>
    </div>
</div>


