@model DmResinas.DTO.LoginDto
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link rel="stylesheet" href="~/css/site.css">
}

<body>
    <main class="mainLogin">
        <div class="containerLogin">
            <form method="post">
                <div class="text-center mb-5">
                    <img src="~/img/logo.png" alt="Logo" width="250" style="z-index: 50;">
                </div>
                <input type="hidden" asp-for="ReturnUrl">
                <div asp-validation-summary="All" class="text-danger" hidden></div>

                <div class="wrap-input100 validate-input">
                    <input asp-for="Email" class="input-100" placeholder="Digite seu email ou usuário">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="wrap-input100 validate-input">
                    <input asp-for="Password" class="input-100" placeholder="Digite sua senha">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="botaoLogin">
                    <button type="submit" style="background-color: #C58A3E; width:260px; height: 50px; color: white; border: none">Entrar</button>
            </form>
        </div>
    </main>

    @section Scripts {
        <partial name="_ValidationScriptsPartial"></partial>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
        <script>
            let mensagemErro = '';
            $('.validation-summary-errors ul li').each(function () {
                mensagemErro += $(this).text() + '<br>';
            });
            if (mensagemErro != '') {
                Swal.fire(
                    'Acesso Negado',
                    mensagemErro,
                    'error'
                );
            }
        </script>
    }
</body>