@model DmResinas.DTO.RegisterDto
@{
    ViewData["Title"] = "Registro";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<div class="position-relative">
    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner" style="max-width: 600px;">
            <!-- Register Card -->
            <div class="card p-2">
                <!-- Logo -->
                <div class="app-brand justify-content-center mt-5">
                    <a asp-action="Index" asp-controller="Home" class="app-brand-link gap-2">
                        <img src="~/img/logo.png" width="200">
                    </a>
                </div>
                <!-- /Logo -->


                <div class="card-body">
                    <h4 class="mb-2 text-center">O Melhor Lugar para suas Compras</h4>
                    <p class="mb-4 text-center">Crie sua conta agora e aproveite nossas ofertas!</p>

                    <form id="formAuthentication" class="mb-3" method="POST" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" hidden></div>
                        <div class="form-floating form-floating-outline mb-3">
                            <input class="form-control" asp-for="Name" autofocus />
                            <label asp-for="Name"></label>
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-floating form-floating-outline mb-3">
                            <input class="form-control" asp-for="UserName" />
                            <label asp-for="UserName">UserName</label>
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                        <div class="form-floating form-floating-outline mb-3">
                            <input class="form-control" asp-for="Email" />
                            <label asp-for="Email">Email</label>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="form-floating form-floating-outline mb-3">
                                    <input class="form-control" asp-for="Age" />
                                    <label asp-for="Age"></label>
                                    <span asp-validation-for="Age" class="text-danger"></span>
                                </div>
                                <div class="mb-3 form-password-toggle">
                                    <div class="input-group input-group-merge">
                                        <div class="form-floating form-floating-outline">
                                            <input class="form-control" asp-for="Password" />
                                            <label asp-for="Password"></label>
                                        </div>
                                    </div>
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <div class="mb-3 form-password-toggle">
                                    <div class="input-group input-group-merge">
                                        <div class="form-floating form-floating-outline">
                                            <input class="form-control" asp-for="ConfirmPassword" />
                                            <label asp-for="ConfirmPassword"></label>
                                        </div>
                                    </div>
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-4" style="min-height: 100%; vertical-align:middle">
                                <img src="~/images/usuarios/no-photo.jpg" alt="Foto" id="PreviewImage"
                                    class="img-fluid w-100 py-2 cursor-pointer" onclick="changeImage()" />
                                <div hidden>
                                    <input type="file" asp-for="Foto" accept=".jpg,.jpeg,.png,.gif,.jfif" />
                                </div>
                            </div>
                        </div>
                        <button id="submit" class="btn btn-primary d-grid w-100">Criar Conta</button>
                    </form>

                    <p class="text-center">
                        <span>Já possuir uma Conta?</span>
                        <a asp-action="Login" asp-controller="Account">
                            <span>Faça Login</span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"></partial>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script>

        let mensagemErro = '';
        $('.validation-summary-errors ul li').each(function () {
            mensagemErro += $(this).text() + '<br>';
        });

        if (mensagemErro != '') {
            Swal.fire(
                'Problemas ao Criar Conta',
                mensagemErro,
                'error'
            );
        }

        function changeImage() {
            document.querySelector('input[type="file"]').click();
        }


    </script>
}