@model DmResinas.Models.Categoria

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="col-md-4 m-auto">
    <h1 class="display-4">Categorias</h1>
    <h4 class="display-6">Adicionar</h4>
    <hr />

    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Nome" class="control-label"></label>
            <input asp-for="Nome" class="form-control" />
            <span asp-validation-for="Nome" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Filtrar" class="control-label"></label>
            <input asp-for="Filtrar" type="checkbox" />
            <span asp-validation-for="Filtrar" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Banner" class="control-label"></label>
            <input asp-for="Banner" type="checkbox" />
            <span asp-validation-for="Filtrar" class="text-danger"></span>
        </div>
        <div class="form-group mt-4">
            <button type="submit" class="btn btn-success me-3"><i class="bi bi-save2-fill"></i> Salvar</button>
            <a asp-action="Index" class="btn btn-primary"><i class="bi bi-arrow-left-circle-fill"></i> Voltar a
                Listagem</a>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

